@{
    ViewData["Title"] = "Контакты";
}
@using School.ViewModels;
@using School.Models;
@model BaseVM
<h2>@ViewData["Title"]</h2>

<address>
    ДК Чкалова, Проспект Дзержинского 34/1, <br/>
    Новосибирск, Россия, 630051<br/>
</address>

<address>
    <strong>Соц. сети:</strong> <a href="https://vk.com/follcray"><img src="~/images/Contact/vk.jpg" width="20" height="20" /></a> <a href="https://www.instagram.com/follcray_dance/"><img src="~/images/Contact/instagram.jpg" width="20" height="20"/></a><br/>
    <strong>Администратор:</strong> <a href="https://vk.com/id286973398">Ольга</a>
</address>
